.idea/

# Build Files
target/
project/target/
project/project/

FavColorAPI/target/
FavColorAPI/project/target/
FavColorAPI/project/project/

FavColorCore/target/
FavColorCore/project/target/
FavColorCore/project/project/

FavColorClient/target/
FavColorClient/project/target/
FavColorClient/project/project/

FavColorAnalytics/target/
FavColorAnalytics/project/target/
FavColorAnalytics/project/project/